<table class="table table-hover">
    <thead>
        <tr>
            <th> Name </th>
            <th> Summary </th>
            <th> Release Date </th>
            <th> Platforms </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in collection" class="point">
            <td>{{item.name}}</td>
            <td>{{item.deck}}</td>
            <td>{{item.original_release_date | date:'short'}}</td>
            <td>{{item.platforms | platforms}}</td>
        </tr>
    </tbody>
</table>
