<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="app" ng-cloak style="padding-left: 150px; padding-right: 150px">
    {% raw %}
    <nav class="navbar navbar-default" ng-controller="navController">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in links">
                        <a href="{{link.link}}">{{link.title}}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>
    {% endraw %}

    <!--Libraries-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
    <script src="{{ url_for('static', filename='libs/ui-bootstrap-tpls-0.14.2.min.js') }}"></script>

    <!--App-->
    <script src="{{ url_for('static', filename='app/app.js') }}"></script>
    <script src="{{ url_for('static', filename='app/controllers/navController.js') }}"></script>
<script src="{{ url_for('static', filename='app/controllers/collectionController.js') }}"></script>
    <script src="{{ url_for('static', filename='app/controllers/gameModalController.js') }}"></script>
    <script src="{{ url_for('static', filename='app/services/dataService.js') }}"></script>
    <script src="{{ url_for('static', filename='app/filters/platformFilter.js') }}"></script>
    
   








</body>
</html>